{% extends 'admin/admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="w3-xxxlarge w3-text-red">Create new Category</h1>
    <hr>

    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}" class="w3-btn w3-red">Back to list</a>
{% endblock %}
